<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fitness tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5B5F4002C3EC2A900A0B766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B5F4102C3EC2AA00A0B766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B5F41A2C3EC2AA00A0B766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
